---
import Layout from '@layouts/Layout.astro';
import { Image } from 'astro:assets';
import LauraBoguslawskaFull from '@assets/laura-boguslawska-full.png'
---

<Layout title="">
	<section>
		<div class="flex items-start">
			<div class="flex-1 flex justify-center flex-col">
				<h2 class="heading leading-none z-10 text-nowrap mb-10">
					Witaj na moim profilu!
				</h2>
				<p class="text-justify">
					Jestem Laura, pochodzę z Polski a obecnie mieszkam w Krakowie. 
					Sztuką zajmuję się od zawsze i od lat jest to moja największa pasja.
				</p>
				<br>
				<p class="text-justify">
					Na  stronie chcę się podzielić z Tobą tym, co tworzę.
					Malarstwo, rysunek i literatura są niezwykle bliskie mojemu sercu, 
				</p>
				<br>
				<p class="text-justify">
					Clatego w ostatnim czasie postanowiłam im poświęcić więcej czasu, co zaowocowało powstaniem tej strony. 
					Mam nadzieję, że znajdziesz tu coś dla siebie :) 
				</p>
				<br>
				<p class="text-justify">
					Podoba Ci się to, co robię? 
					<span class="font-bold text-blue-200">Porozmawiajmy!</span>
				</p>
			</div>
			<div class="flex-1 flex justify-end items-center">
				<Image 
					src={LauraBoguslawskaFull} 
					alt="Laura Boguslawska photo"
					width={400}
				/>
			</div>
		</div>
	</section>
</Layout>