---
import Layout from '@layouts/Layout.astro';
import { Image } from 'astro:assets';
import Art1 from '@assets/art-1.png'
---

<Layout title="">
	<section class="flex">
		<div class="flex-1 pl-10 flex flex-col justify-center">
			<h1 class="heading w-72 leading-none z-10 mb-10">
				Laura Boguslawska
			</h1>
			<p class="mb-48 text-xl">
				Welcome to my gallery of <br>
				<span class="font-bold text-blue-200">soulful expressions</span>
			</p>
		</div>
		<div class="flex-1 flex justify-center items-center">
			<img 
				id="image-art"
				class="art rounded-md"
				src=""
				alt="art painting"			>
		</div>
	</section>
</Layout>

<style>
	@import '@styles/animations.css';

	.container {
		min-height: calc(100dvh - 94px);
	}

	.art {
		animation: fade-in linear both;
		transition: all ease-in-out 0.3s;
		opacity: 1;
		max-height: 500px;
	}

	.art.hidden {
		opacity: 0;
		transition: all ease-in-out 0.3s;
	}
</style>

<script>
	import gallery from "@data/gallery";
	let index = 0;

	const imageElement = document.querySelector('#image-art') as HTMLImageElement; 
	let newImageUrl = gallery[index].data.src;
	imageElement.src = newImageUrl;
	index++;

	function changeImage() {
		setInterval(() => {
			imageElement?.classList.add('hidden');

			setTimeout(() => {
				newImageUrl = gallery[index].data.src;
	
				if (imageElement) {
					imageElement.src = newImageUrl;
					imageElement.classList.remove('hidden');
	
					index = index < gallery.length-1 ? index + 1 : 0
				}
			}, 300)
		}, 3000); 
	}

	changeImage();
</script>