---
import Layout from '@layouts/Layout.astro';
import TextArea from '@components/TextArea.astro';
---

<Layout title="">
	<main>
		MAIN
		<TextArea
			id="id"
			name="name"
			placeholder="placeholder"
			label="Label"
			ariaLabel="Aria Label"
			error={true}
			helperText="Helper hext"
			rows="3"
			cols="4"
		></TextArea>
	</main>
</Layout>

<style>
</style>