---
import { Icon } from 'astro-icon/components'
import type { ButtonSize, ButtonType } from '@typings/Button';

interface Props {
    type: ButtonType,
    size: ButtonSize,
    label: string,
    iconName?: string,
}

const { size='md', type='primary', label, iconName } = Astro.props;
---
<button
    class:list={[
        'button',
        'rounded-full',
        'flex',
        'justify-center',
        'items-center',
        'gap-1',
        'p',
        'py-1',
        size,
        `button-${type}`,
        'transition-all',
        'ease-in-out',
        'duration-300',
    ]}
>
    { iconName && (
        <Icon 
            name={`mdi:${iconName}`}
            class="text-color-paper-100"  
        />
    ) }
    { label }
</button>

<style>
    .button {
        &.sm {
            @apply text-xs px-4;
            [data-icon] {
                width: 20px;
                height: 20px;
            }
        }
        &.md {
            @apply px-6;
            [data-icon] {
                width: 28px;
                height: 28px;
            }
        }
        &.lg {
            @apply text-xl px-8;
            [data-icon] {
                width: 35px;
                height: 35px;
            }
        }
    } 
</style>