---
interface Props {
    description: string;
    href?: string;
    isActive: boolean;
}

const { description, href, isActive } = Astro.props;
---

<li>
    { <icon /> }
    <a 
        href={ href } 
        class:list={
            [
                'navbar-item',
                'transition-all',
                'ease-in-out',
                'delay-75',
                { 'active': isActive }
            ]
        }
    >
        { description } 
    </a>
</li>

<style>
    li {
        padding: 0.5rem 1rem;
    }
</style>