<nav class="navbar">
	<ul>
		<slot />
	</ul>
</nav>

<style>
.navbar {
	width: 100dvh;
	height: 7.5rem;
	
	ul {
		padding: 1rem 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 3rem;
	}
}
</style>
