---
interface Props {
    description: string;
    icon?: string;
    href?: string;
    active: boolean;
}

const { description, icon, href } = Astro.props;
---

<li>
    { icon }
    <a href={ href }>
        { description } 
    </a>
</li>

<style>
    li {
        padding: 1rem 1.5rem;
    }
</style>